header
  .container
    nav.navbar.navbar
      ul.nav
        li
          a(href='https://climate.app.democracyos.eu')
            img.fa(src='images/icon-logo-w.png', alt='DemocracyOS')
        li
          a(href='mailto:dosparisclimate15@gmail.com')
            i.fa.fa-envelope
        li
          a(href='https://twitter.com/dosparisclimate',alt='@dosparisclimate')
            i.fa.fa-twitter
        li
          a(href='https://www.facebook.com/democracyos',alt='facebook')
            i.fa.fa-facebook
        
    img.logo.center-block.img-responsive(src='images/logo-mono.svg',width='100%')
    
    blockquote
      the first non-national citizens debate on an international agreement
    
    blockquote
      a.btn.btn-primary.btn-lg(href='https://democracyosfr.typeform.com/to/BiAhxg') Get early access
