header
  .container
    nav.navbar
      ul.nav
        li
          a(href='https://climat.democracyos.eu')
            img.fa(src='images/icon-logo-w.png', alt='DemocracyOS')
        li
          a(href='mailto:contact@democracyos.eu')
            i.fa.fa-envelope
        li
          a(href='https://twitter.com/dosparisclimate',alt='@dosparisclimate')
            i.fa.fa-twitter
        li
          a(href='https://www.facebook.com/DemocracyOSfrance',alt='facebook')
            i.fa.fa-facebook
        
    img.logo.center-block.img-responsive(src='images/logo-mono.svg',width='100%')
